<ul>
  <li>
    <img src="assets/icons/viewed.svg" alt="viewed icon" />
    {{ videoItem?.statistics?.viewCount | shortNumber }}
  </li>
  <li>
    <img src="assets/icons/liked.svg" alt="liked icon" />
    {{ videoItem?.statistics?.likeCount | shortNumber }}
  </li>
  <li>
    <img src="assets/icons/dislike.svg" alt="dislike icon" />
    {{ videoItem?.statistics?.dislikeCount | shortNumber }}
  </li>
  <li>
    <img src="assets/icons/comments.svg" alt="comments icon" />
    {{ videoItem?.statistics?.commentCount | shortNumber }}
  </li>
</ul>
