<div *ngIf="isLoading$ | async">Loading...</div>
<div *ngIf="error$ | async as error">{{ error }}</div>
<div class="container">
  <container-element
    *ngFor="let video of (videoList$ | async)! | filteringByKeyWords: keyWords"
    [ngSwitch]="video.kind">
    <app-card
      *ngSwitchCase="'custom#video'"
      [videoItem]="video"
      [isFavorite]="getFavoriteStatus(video.id)"></app-card>
    <app-list
      *ngSwitchCase="'youtube#video'"
      [videoItem]="video"
      [isFavorite]="getFavoriteStatus(video.id)"></app-list>
  </container-element>
</div>

<ng-container *ngIf="isPaginated">
  <app-pagination></app-pagination>
</ng-container>
